@import '../../styles/main.scss';

.slider_container {
  width: 800px;
  margin-bottom: 66px;
}

.project_image {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  filter: grayscale(0.8);
  transition: all 0.2s;
  &:hover {
    filter: grayscale(0);
    scale: 1.01;
    position: relative;
    z-index: 1;
  }
}
