@import '../../styles/main.scss';

.greeting {
  @include flex();
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  text-wrap: nowrap;

  & h1 {
    position: relative;
    color: #f1f1f1;
    transform: skew(var(--degree)) scale(var(--scale));
    font-weight: 400;
    font-family: 'Orbitron';
    font-size: 3rem;

    &::before,
    &::after {
      content: attr(data-text);
      position: absolute;
      width: 100%;
      transition: clip-path 50ms ease-in;
      background-color: inherit;
    }

    &::before {
      left: 3px;
      text-shadow: 2px -2px #2a96d4;
      clip-path: polygon(
        0 var(--bt),
        100% var(--bt),
        100% var(--bb),
        0 var(--bb)
      );
    }

    &::after {
      left: -3px;
      text-shadow: -2px 2px #cc2a1f;
      clip-path: polygon(
        0 var(--at),
        100% var(--at),
        100% var(--ab),
        0 var(--ab)
      );
    }
  }

  @include mobile {
    & h1 {
      font-size: 2.5rem;
    }
  }
}
