@import '../../styles/main.scss';

.title {
  text-align: center;
  & h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 6.5rem;
    line-height: 1.3;
  }
  & h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  & h3 {
    font-weight: 400;
    line-height: 1.2;
  }

  & span {
    font-weight: 600;
    color: #ffffff;
  }

  @include tablet {
    & h1 {
      font-size: 4.375rem;
    }
    & h2 {
      font-size: 3.125rem;
    }
    & h3 {
      font-size: 2.5rem;
    }
  }

  @include mobile() {
    & h1 {
      font-size: 2.125rem;
    }
    & h2 {
      font-size: 1.625rem;
      margin-bottom: 1rem;
    }
    & h3 {
      font-size: 1.5rem;
    }
  }
}

.overview {
  @include flex($align: flex-start, $justify: start);
  gap: 100px;
  padding: 100px 0 0;
  word-break: keep-all;

  & .overview_text {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.7;
  }

  & span {
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: 200;
    &::after {
      content: '';
      display: block;
      width: 30px;
      border-bottom: 1px solid #f1f1f1;
      margin-top: 5px;
    }
  }

  @include tablet {
    padding: 70px 0 0;
    flex-direction: column;
    gap: 20px;

    & .overview_text {
      font-size: 1rem;
    }
  }

  @include mobile() {
    padding: 50px 0 0;
  }
}

.contact {
  @include flex($align: flex-start, $justify: start);
  gap: 100px;
  padding: 50px 0 0;
  word-break: keep-all;
  width: 100%;

  & .contact_container {
    @include flex($justify: start, $align: start);
    flex-wrap: wrap;
    gap: 3rem;

    & img {
      width: 24px;
    }

    & .contact_box {
      @include flex();
      position: relative;
      gap: 0.5rem;

      & .sub_icon {
        position: absolute;
        width: 20px;
        top: 1px;
        right: -24px;
        cursor: pointer;
      }

      & .contact_text {
        font-family: 'Montserrat';
        font-size: 1.125rem;
        font-weight: 300;
      }

      & .copy_success {
        @include flex();
        gap: 2px;
        font-size: 0.75rem;
        position: absolute;
        top: -24px;
        right: -48px;
        background-color: #272525;
        padding: 0.125rem 0.125rem 0.125rem 0.375rem;
        border-radius: 6px;
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        & .check_icon {
          width: 18px;
        }
      }

      & .copy_success.show {
        opacity: 1;
        transition: opacity 0.1s ease-in-out;
      }
    }
  }

  & .contact_subHead {
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: 200;
    &::after {
      content: '';
      display: block;
      width: 30px;
      border-bottom: 1px solid #f1f1f1;
      margin-top: 5px;
    }
  }

  @include tablet {
    flex-direction: column;
    gap: 20px;
    padding: 30px 0 0;

    & .contact_container {
      & img {
        width: 20px;
      }

      & .contact_box {
        & .sub_icon {
          width: 18px;
          top: 1px;
          right: -24px;
        }

        & .contact_text {
          font-size: 1rem;
        }
      }
    }
  }

  @include mobile() {
    padding: 30px 0 0;
    & .contact_container {
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.skills {
  @include flex($align: flex-start, $justify: flex-start);
  gap: 100px;
  padding: 50px 0 0;
  & span {
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: 200;
    &:last-child:after {
      content: '';
      display: block;
      width: 20px;
      border-bottom: 1px solid #f1f1f1;
      margin-top: 5px;
    }
  }

  & .skills_img {
    width: 70%;
    & ul {
      @include flex($justify: start);
      gap: 2rem;
      flex-wrap: wrap;
    }

    & li {
      position: relative;
      display: inline;

      & img {
        position: relative;
        width: 104px;
      }

      & .blur_img {
        transition: all 0.2s;
        position: absolute;
        top: -0px;
        left: 0px;
        width: 104px;
        filter: blur(2.5rem);
        opacity: 0;
        z-index: 0;
      }

      & .skill_name {
        color: #ffffff;
        transition: all 0.2s;
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 0.875rem;
        font-family: 'Montserrat';
        font-weight: 300;
        opacity: 0;
      }

      &:hover .skill_name,
      &:hover .blur_img {
        transition: all 0.2s;
        opacity: 1;
      }
    }
  }

  @include tablet {
    flex-direction: column;
    gap: 20px;
    padding: 30px 0 0;

    & .skills_img {
      width: 100%;

      & li {
        & img {
          width: 96px;
        }

        & .blur_img {
          width: 96px;
          filter: blur(2rem);
        }
      }
    }
  }

  @include mobile() {
    gap: 20px;

    & .skills_img {
      width: 100%;

      & ul {
        gap: 1.375rem;
        justify-content: center;
      }

      & li {
        & img {
          width: 84px;
        }

        & .blur_img {
          width: 84px;
          filter: blur(1.375rem);
        }

        & .skill_name {
          font-size: 0.75rem;
          line-height: 1;
        }
      }
    }
  }
}

.sub_header {
  width: 130px;
  display: block;

  @include tablet {
    width: 80px;
  }
}
