@import '../../styles/main.scss';

.wrapper {
  @include flex($align: flex-start);
  width: 100%;
  min-height: 100vh;
  padding: 100px 100px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1920px;
  position: relative;
}
