@import '../../styles/main.scss';

.wrapper {
  @include flex($align: flex-start);
  width: 100%;
  height: 100vh;
  padding: 100px 100px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
}
