@import '../../styles/main.scss';

.wrapper {
  @include flex($align: flex-start);
  width: 100%;
  // min-height: 100vh;
  padding: 80px 100px;
  position: relative;

  @include tablet {
    padding: 70px;
  }

  @include mobile {
    padding: 30px;
  }
}

.container {
  width: 100%;
  max-width: 1920px;
  position: relative;
}
