@import '../../styles/main.scss';

.wrapper {
  @include flex();
  position: absolute;
  inset: 0;
  border-radius: 1rem;
}

.close {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  opacity: 0.7;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 9999;
  &:hover {
    opacity: 1;
    scale: 120%;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  @include flex();
  justify-content: space-between;
  gap: 1rem;
}

.image_container {
  position: relative;
  width: 80%;
  height: 90%;
  max-width: 1500px;
  overflow: hidden;
}

.image_box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  & .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.description_container {
  @include flex();
  width: 20%;
}
