@import '../../styles/main.scss';

// 페이지 제목
.works_intro {
  transition: all 0.2s;
  text-align: right;
  padding-bottom: 50px;
  & span {
    font-family: 'Montserrat';
    font-size: 7rem;
    font-weight: 800;
    line-height: 1;
  }

  & p {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    &::after {
      content: '';
      display: block;
      width: 5%;
      border-bottom: 1px solid #f1f1f1;
      margin-top: 10px;
      margin-left: auto;
    }
  }
}

// 카드 컨테이너
.card_container {
  @include flex();
  gap: 0.5rem;

  & .arrow_back {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 32px;
    display: none;
  }

  & .card {
    position: relative;
    flex-grow: 1;
    min-height: 484px;
    border: 1px solid #f1f1f1;
    border-radius: 0.75rem;
    transition: all 0.5s;
    cursor: pointer;
    overflow: hidden;

    & .background_image {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
      & img {
        transition: all 0.5s;
        opacity: 0.4;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        object-fit: cover;
        filter: grayscale(1);
        &:hover {
          transition: all 0.3s;
          opacity: 0.8;
          filter: grayscale(0);
        }
      }
    }

    & .title {
      position: absolute;
      bottom: 0;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: 800;
      font-family: 'Montserrat';
      transition: all 0.5s;
      white-space: nowrap;
    }
  }

  & .card.active {
    cursor: default;
    border: none;
    & .background_image {
      & img {
        opacity: 1;
        filter: grayscale(0);
        cursor: pointer;
        &:hover {
          opacity: 0.7;
          scale: 101%;
        }
      }
    }
    & .arrow_back {
      cursor: pointer;
      display: block;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        scale: 120%;
      }
    }
    & .title {
      font-size: 2rem;
      transition: all 0.5s;
    }
  }

  & .card.hidden {
    opacity: 0;
    flex-grow: 0;
    pointer-events: none;

    & .title {
      opacity: 0;
    }
  }

  & .card.active_modal {
    transition: all 0.2s;
    visibility: hidden;
  }
}

.active_modal {
  transition: all 0.2s;
  opacity: 0;
}
