@import '../../styles/main.scss';

.works_intro {
  text-align: right;
  padding-bottom: 50px;
  & span {
    font-family: 'Montserrat';
    font-size: 7rem;
    font-weight: 800;
    line-height: 1;
  }

  & p {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    &::after {
      content: '';
      display: block;
      width: 5%;
      border-bottom: 1px solid #f1f1f1;
      margin-top: 10px;
      margin-left: auto;
    }
  }
}

.card_container {
  @include flex();
  gap: 0.5rem;

  & .arrow_back {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 32px;
    display: none;
  }

  & .card {
    position: relative;
    flex-grow: 1;
    min-height: 484px;
    border: 1px solid #f1f1f1;
    border-radius: 1rem;
    transition: all 0.5s;
    cursor: pointer;

    & .title {
      position: absolute;
      bottom: 0;
      padding: 1rem;
    }
  }

  &:hover .card {
    flex-grow: 0.5;
    opacity: 0.1;

    & .arrow_back,
    & .title {
      opacity: 0;
    }
  }

  &:hover .card:hover {
    flex-grow: 2;
    opacity: 1;

    & .arrow_back,
    & .title {
      opacity: 1;
    }
  }

  & .card.active {
    opacity: 1;

    & .arrow_back {
      display: block;
    }
  }

  & .card.hidden {
    opacity: 0;
    flex-grow: 0;

    & .title {
      opacity: 0;
    }
  }
}
