@import '../../styles/main.scss';

.works_intro {
  text-align: right;
  padding-bottom: 50px;
  & span {
    font-family: 'Montserrat';
    font-size: 7rem;
    font-weight: 800;
    line-height: 1;
  }

  & p {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    &::after {
      content: '';
      display: block;
      width: 5%;
      border-bottom: 1px solid #191919;
      margin-top: 10px;
      margin-left: auto;
    }
  }
}

// left_sort
.left_sort {
  @include flex($align: flex-start, $justify: flex-start);
  gap: 100px;
  padding: 50px 0;
  word-break: keep-all;

  & .during {
    & span {
      font-size: 1rem;
      font-family: 'Montserrat';
      &:last-child:after {
        content: '';
        display: block;
        width: 30px;
        border-bottom: 1px solid #191919;
        margin-top: 10px;
      }
    }
  }

  & .left_sort_box {
    @include flex($align: flex-start);
    gap: 40px;
    flex-direction: column;
    & div {
      & .project_title {
        @include flex($justify: flex-start, $align: flex-start);
        gap: 0.5rem;
        & img {
          width: 24px;
          height: 24px;
        }
        & h4 {
          font-family: 'Montserrat';
          font-weight: 700;
          line-height: 0.5;
          margin-bottom: 1.25rem;
        }
      }
      & span {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    & .explain {
      @include flex($align: flex-start);
      flex-direction: column;
      gap: 30px;
      & .left_sort_skills,
      & .my_role {
        @include flex($align: flex-start);
        gap: 2.5rem;
        line-height: 1.7;
        & span {
          width: 100px;
          font-family: 'Montserrat';
          white-space: nowrap;
          font-size: 1.125rem;
          font-weight: 500;
          &::after {
            content: '';
            display: block;
            width: 20%;
            border-bottom: 1px solid #191919;
            margin-top: 5px;
          }
        }
        & ul {
          list-style-type: disc;
          display: grid;
          grid-template-columns: auto auto;
          column-gap: 1rem;
          & li {
            font-size: 1rem;
            margin-right: 30px;
            margin-bottom: 5px;
          }
        }
      }

      & .left_sort_skills ul li {
        font-family: 'Montserrat';
      }
    }
  }
}

// right_sort
.right_sort {
  @include flex($align: flex-start, $justify: flex-end);
  gap: 100px;
  padding: 50px 0;
  word-break: keep-all;

  & .during {
    & span {
      font-size: 1rem;
      font-family: 'Montserrat';
      &:last-child:after {
        content: '';
        display: block;
        width: 30px;
        border-bottom: 1px solid #f1f1f1;
        margin-top: 10px;
        margin-left: auto;
      }
    }
  }

  & .right_sort_box {
    @include flex($align: flex-end);
    gap: 40px;
    flex-direction: column;
    & div {
      text-align: right;
      & .project_title {
        @include flex($justify: flex-end, $align: baseline);
        gap: 0.5rem;
        & img {
          width: 24px;
          height: 24px;
        }
        & h4 {
          font-weight: 700;
          line-height: 1;
          margin-bottom: 0.875rem;
        }
      }
      & span {
        font-size: 1rem;
      }
    }

    & .explain {
      @include flex($align: flex-end);
      flex-direction: column;
      gap: 30px;
      & .right_sort_skills,
      & .my_role {
        @include flex($align: flex-start);
        gap: 30px;
        line-height: 1.7;
        & span {
          width: 100px;
          font-family: 'Montserrat';
          white-space: nowrap;
          font-size: 1.125rem;
          &::after {
            content: '';
            display: block;
            width: 20%;
            border-bottom: 1px solid #f1f1f1;
            margin-top: 5px;
            margin-left: auto;
          }
        }
        & ul {
          list-style-type: disc;
          display: grid;
          grid-template-columns: auto auto;
          column-gap: 1rem;
          & li {
            font-size: 1rem;
            margin-left: 30px;
            margin-bottom: 5px;
            font-weight: 300;
          }
        }
      }

      & .right_sort_skills ul li {
        font-family: 'Montserrat';
      }
    }
  }
}
