@import '../../styles/main.scss';

.works_intro {
  text-align: right;
  padding-bottom: 50px;
  & span {
    font-family: 'Montserrat';
    font-size: 7rem;
    font-weight: 800;
    line-height: 1;
  }

  & p {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    &::after {
      content: '';
      display: block;
      width: 5%;
      border-bottom: 1px solid #f1f1f1;
      margin-top: 10px;
      margin-left: auto;
    }
  }
}

.card_container {
  @include flex();
  gap: 0.5rem;

  & .arrow_back {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 32px;
    display: none;
  }

  & .card {
    position: relative;
    flex-grow: 1;
    min-height: 484px;
    border: 1px solid #f1f1f1;
    border-radius: 1rem;
    transition: all 0.6s;
    cursor: pointer;
    overflow: hidden;

    & .background_image {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
      & img {
        transition: all 0.5s;
        opacity: 0.4;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        object-fit: cover;
      }
    }

    & .title {
      position: absolute;
      bottom: 0;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: 800;
    }

    &:hover {
      & img {
        transition: all 0.5s;
        opacity: 0.6;
      }
    }
  }

  & .card.active {
    & .background_image {
      & img {
        opacity: 1;
      }
    }

    & .arrow_back {
      display: block;
      height: 120%;
    }
  }

  & .card.hidden {
    opacity: 0;
    flex-grow: 0;
    pointer-events: none;

    & .title {
      opacity: 0;
    }
  }
}
