@import '../../../styles/main.scss';

.wrapper {
  @include flex($align: start);
  flex-direction: column;

  @include tablet {
    justify-content: start;
    height: 535.4px;
  }
}

.role_list {
  list-style-type: disc;
  padding: 1rem;
}

.role {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 1.5;
}
