@import '../../../styles/main.scss';

.wrapper {
  @include flex($align: start);
  flex-direction: column;
}

.role_list {
  list-style-type: disc;
}

.role {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
