@import '../../../styles/main.scss';

.wrapper {
  @include flex($align: start);
  flex-direction: column;
}

.period {
  font-family: 'Montserrat';
}

.title_box {
  position: relative;
}

.link {
  &:hover {
    text-decoration: underline 1.5px;
    text-underline-offset: 4px;
  }
}

.open_image {
  position: absolute;
  top: 0px;
  right: -28px;
  width: 24px;
  height: 24px;
}

.title {
  font-family: 'Montserrat';
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 0.9;
  margin-top: 0.625rem;
  margin-bottom: 1rem;

  @include mobile {
    font-size: 2.375rem;
  }
}

.github_link {
  @include flex();
  margin-top: 1rem;
  & p {
    font-family: 'Montserrat';
    font-size: 1.125rem;
    margin-left: 8px;
    margin-right: 4px;
  }
  &:hover {
    text-decoration: underline 1.5px;
    text-underline-offset: 2px;
  }
}

.sub_head {
  font-family: 'Montserrat';
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 1.875rem;
  &::after {
    content: '';
    display: block;
    width: 40%;
    border-bottom: 1px solid #f1f1f1;
    margin-top: 0.25rem;
    margin-right: auto;
  }
}

.item_list {
  list-style-type: disc;
  padding: 0.5rem 1.125rem 0;
}

.item_skill_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill {
  font-family: 'Montserrat';
  font-weight: 300;
  padding: 0.375rem;
}

.introduce {
  font-weight: 300;
  padding: 0.375rem;
}
