@import '../../../styles/main.scss';

.wrapper {
  @include flex($align: start);
  flex-direction: column;
}

.period {
  font-family: 'Montserrat';
}

.title {
  font-family: 'Montserrat';
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.875rem;
}

.skills {
  font-family: 'Montserrat';
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 1.75rem;
  &::after {
    content: '';
    display: block;
    width: 40%;
    border-bottom: 1px solid #f1f1f1;
    margin-top: 0.25rem;
    margin-right: auto;
  }
}

.skill_list {
  list-style-type: disc;
  padding: 0.5rem 1.125rem 1.125rem;
}

.skill {
  font-family: 'Montserrat';
  font-size: 1.125rem;
  font-weight: 300;
  padding: 0.375rem;
}
