@import '../../../styles/main.scss';

.wrapper {
  @include flex();
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  z-index: 3;
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    scale: 110%;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
