@import '../../../styles/main.scss';

.wrapper {
  @include flex();
  width: 100%;
}

.header {
  flex: 1;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2;
  cursor: pointer;
}
