@import '../../../styles/main.scss';

.wrapper {
  position: relative;
  width: 70%;
  height: 100%;
  max-width: 1500px;
  overflow: hidden;
}

.image_box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  & .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
