@import '../../../styles/main.scss';

.wrapper {
  @include flex();
  position: absolute;
  inset: 0;
  width: 100%;
}

.close {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  opacity: 0.7;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 2;
  &:hover {
    opacity: 1;
    scale: 120%;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  @include flex();
  justify-content: space-between;
  gap: 3rem;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    gap: 2rem;
  }
}
