@import '../../../styles/main.scss';

:global(.slick-next:before) {
  display: none;
}

:global(.slick-prev:before) {
  display: none;
}

.wrapper {
  position: relative;
  width: 70%;

  @include tablet {
    width: 100%;
  }
}

.image_box {
  position: relative;
  @include flex();
  width: 100%;
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: none;
  }
}

.image {
  width: 100%;
  height: 600px;
  object-fit: contain;
  cursor: pointer;

  @include tablet {
    height: 500px;
  }

  @include mobile {
    height: 350px;
  }
}

.arrow {
  transition: all 0.5s;
  &:hover {
    scale: 120%;
  }
}
