@import '../../../styles/main.scss';

.wrapper {
  position: relative;
  @include flex($justify: start);
  flex-direction: column;
  width: 30%;
  height: 100%;
  gap: 2rem;

  @include tablet {
    width: 100vw;
    background-color: #121212;
    padding: 32px 70px;
  }

  @include mobile {
    padding: 30px;
    height: auto;
    gap: 1.5rem;
  }
}
