@import '../../../styles/main.scss';

.wrapper {
  @include flex();
  position: absolute;
  inset: 0;
}

.close {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  opacity: 0.7;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 9999;
  &:hover {
    opacity: 1;
    scale: 120%;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  @include flex();
  justify-content: space-between;
  gap: 2rem;
}
